.rankings-page {
    h1 {
        margin-bottom: 10px;
    }

    .options-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .filters-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .search, .position-filter, .edit-button {
            align-self: flex-end;
        }
        .select-filter {
            margin-right: 20px;
        }
        .edit-button {
            justify-self: flex-end;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
    .rankings-table {
        margin-top: 20px;
    }
    .position-filter {
        margin-top: 10px;
    }
}
