.custom-rankings-page {

    .rankings-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .description {
        margin-left: 3px;
        margin-top: 10px;
    }
}
