.rankings-table {
    border-spacing: 0;
    min-width: 400px;
    background-color: white;
    thead tr {
        background-color: var(--lightgrey);
    }
    .name {
        color: var(--btn-blue-1);
        font-weight: 600;
        cursor: pointer;
    }
    tbody td, thead th {
        padding: 6px;
        font-size: 11pt;
    }
    tr {
        display: flex;
        td, th {
            flex: 1;
            text-align: center;
        }
        .name, .name-header {
            flex: 3;
            justify-content: flex-start;
            text-align: left;
        }
    }
    tbody tr:nth-child(even) {
        background-color: #f1f1f1;
    }
    th {
        cursor: pointer;
        user-select: none;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .info-icon {
        height: 0.8em;
        color: var(--grey);
    }
    tbody tr:hover {
        background-color: var(--table-header-color);
    }
}