.rankings-table {
    border-spacing: 0;
    min-width: 400px;
    thead tr {
        background-color: var(--table-header-color);
    }
    .name {
        font-weight: 600;
    }
    tbody td {
        padding: 4px;
    }
    th {
        text-align: left;
        cursor: pointer;
        user-select: none;
    }
}