.new-rankings-dialog {
    .dialog-title {
        border-bottom: 1px solid var(--lightgrey);
        padding: 14px;
    }
    h2 {
        font-size: 13pt;
        font-weight: 600;
    }
    .dialog-input {
        padding-bottom: 14px;

        label {
            display: block;
            font-size: 11pt;
            font-weight: 600;
            color: var(--dark-grey);
        }
        .dialog-input-select, .dialog-input-text {
            width: fit-content;
            max-width: 340px;
        }
    }
    .dialog-actions {
        border-top: 1px solid var(--lightgrey);
        padding: 14px;
    }
    .submit-btn, .cancel-btn {
        cursor: pointer;
        border: none;
        padding: 10px;
        border-radius: 4px;
        font-weight: 600;
    }
    .submit-btn {
        background-color: var(--submit-btn-light-1);
        color: white;
    }
    .submit-btn:hover {
        background-color: var(--submit-btn-hover-light-1);
    }
    .cancel-btn {
        background-color: var(--lightgrey);
    }
}
.MuiDialog-paperWidthMd {
    width: 400px;
}