.rankings-list {
    .row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--lightgrey);
        height: 40px;
        cursor: pointer;
    }
    .col-labels {
        background-color: var(--table-header-color);
    }
    .arrow-icon {
        display: none;
    }
    .row:hover {
        .arrow-icon {
            display: inline;
        }
    }
}