.draftable, .tier {
    padding: 8px;
    font-size: 10pt;

    .drag-icon, .delete-icon {
        font-size: 1.5em;
    }
    .delete-icon:hover {
        cursor: pointer;
    }
}
.draftable, .tier:not(.top-tier) {
    cursor: grab;
}
.draftable, .tier, .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.draftable, .table-header {
    background-color: white;
    border: 1px solid var(--lightgrey);
    border-left: 2px solid var(--lightgrey);
    border-right: 2px solid var(--lightgrey);

    .drag-icon-wrapper {
        flex: 1;
        justify-content: flex-end;
    }
    .rank-wrapper {
        flex: 1;
        justify-content: flex-start;
    }
    .bye-wrapper {
        flex: 2;
        justify-content: center;
    }
    .name-wrapper {
        flex: 4;
        justify-content: flex-start;
        font-weight: 600;
    }
    .team-wrapper {
        flex: 2;
        justify-content: center;
    }
    .position-wrapper {
        flex: 2;
        justify-content: center;
    }
    .buttons-wrapper {
        flex: 2;
        justify-content: flex-end;
    }
    .delete-icon-wrapper {
        flex: 1;
        justify-content: flex-start;
    }
}
.draftable:hover {
    background-color: var(--table-header-color);
}
.tier:not(.top-tier):hover {
    background-color: var(--btn-blue-hover-1);
}
.tier {
    background-color: var(--btn-blue-1);
    border: 1px solid var(--btn-blue-1);
    border-left: 2px solid var(--btn-blue-1);
    border-right: 2px solid var(--btn-blue-1);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;

    .drag-icon-wrapper {
        flex: 1;
        justify-content: flex-end;
    }

    .rank-wrapper {
        flex: 2;
        justify-content: center;
        font-weight: 800;
    }
    .buttons-wrapper {
        flex: 1;
        justify-content: flex-start;
    }
}
.insert-tier-btn {
    color: white;
    background: var(--btn-blue-1);
    border: none;
    padding: 3px 8px 3px 8px;
    font-size: 9pt;
    font-weight: 600;
    display: flex;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;

    .insert-icon {
        margin-right: 8px;
    }
}