.edit-button {
    border: none;
    background-color: var(--btn-blue-1);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .new-icon {
        margin-right: 4px;
    }
}
.edit-button:hover {
    background-color: var(--link-color-hover-1);
}