.edit-button {
    border: none;
    background-color: var(--btn-blue-1);
    color: white;
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 0.4rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}
.edit-button:hover {
    background-color: var(--link-color-hover-1);
}

@media (min-width: 500px) {
    .edit-button {
      font-size: 11pt;    
    }
}
@media (max-width: 499px) {
    .edit-button {
        font-size: 9pt;
    }
}