.default-nav {
    background-color: var(--nav-color);
    margin-bottom: 20px;
    width: 100%;
    nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
    }
    img {
        height: 30px;
        cursor: pointer;
        padding: 12px;
    }
    .nav-link {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-color-2);
        margin-right: 20px;
        border: none;
        background: none;
        font-size: 0.8em;
    }
}

@media (max-width: 499px) {
	.default-nav {
		display: None;
	}
}