.rankings-page {
    width: 100%;

    h1 {
        margin-bottom: 0.8rem;
    }
    .description {
        margin-bottom: 0.8rem;
    }

    .options-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .options-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .select-filter, .position-filter, .edit-button {
            margin-bottom: 0.5rem;
        }

        .search, .position-filter, .edit-button {
            align-self: flex-end;
        }

        .edit-button {
            justify-self: flex-end;
        }
    }
    .rankings-table {
        width: 100%;
    }
}
