.default-nav {
    background-color: var(--nav-color);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    
    nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
    }
    img {
        height: 30px;
        cursor: pointer;
        padding: 12px;
    }
    .nav-link {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-color-2);
        margin-right: 20px;
        border: none;
        background: none;
        font-size: 0.9em;
        font-weight: 500;
    }
    .nav-link:hover {
        color: var(--lightgrey);
    }
    .nav-link-outline {
        border: 1px solid white;
        border-radius: 4px;
        padding: 6px 8px 6px 8px;
    }
    .nav-link-outline:hover {
        border: 1px solid var(--lightgrey);
    }
}

@media (max-width: 499px) {
	.default-nav {
		display: None;
	}
}